@import "../common.scss";

.header_block {
  .title {
    font-size: 1.6rem;
  }

  .subtitle {
    font-size: 1.2rem;
  }
}

.markdown_content {
  p {
    // text-align: justify;
    line-height: 1.35;
  }

  pre {
    background-color: rgba($primary_color, 0.1);
    padding: $spacing_base;
    border: 1px solid $primary_color;
    margin: $spacing_base * 2 0;
    overflow-x: auto;
  }

  ul,
  ol {
    p {
      margin: 0;
    }
  }

  blockquote {
    background-color: rgba($secondary_color, 0.1);
    margin: 0;
    padding: $spacing_base $spacing_base * 2;
    border-left: $spacing_base / 2 solid $secondary_color;

    p {
      margin: 0;
    }
  }
}
