@import "../common.scss";

.container_flap {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-top: $spacing_base * 8 solid $background_color;
    border-left: $spacing_base * 8 solid $background_light_color;
    width: 0;
  }
}

.title {
  position: relative;
  margin: 0 -600rem $spacing_base * 2;
  padding: $spacing_base 600rem;
  background: $primary_color;
  color: $text_light_color;
}

.text {
  text-align: justify;
}

.articles {
  margin-top: $spacing_base * 2;

  .article_link {
    margin: $spacing_base 0;
    font-size: 1.1em;
    .article_date {
      font-weight: bold;
      margin-right: 1rem;
    }

    .article_title {
      text-transform: uppercase;
    }
  }
}
