@import "../common.scss";

body {
  background-color: $background_color;
  color: $text_color;
  font-family: $font_family;
  font-size: $font_base_size;
}

html,
body {
  overflow-x: hidden;
}

a {
  color: $secondary_color;
}

.main_container {
  background-color: $background_light_color;
  max-width: 1200px;
  height: 100%;
  margin: auto;
  padding: $spacing_base;
  position: relative;
}

@media screen and (min-width: 1200px) {
  .main_container {
    margin: $spacing_base auto;
    padding: $spacing_base * 2;
  }
}
