$primary_color: #00529b;
$secondary_color: #a72608;
$text_color: #252627;
$text_light_color: #fcfcfc;
$background_color: #f2efe9;
$background_light_color: #ffffff;

$font_family: "Verdana", sans-serif;
$font_base_size: 16px;
$spacing_base: 16px;
